    .center {
        /* this will keep the content center */
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }

    .msg-group {
        position: absolute;
        max-width: 720px;
        height: 92%;
        overflow-y: scroll;  /*if the content beyond width and height, use the scrollbar*/
    }

    .card {
        padding: 10px 0 10px 0;
    }

    .input-group {
        position: absolute;
        height: 8%;
        bottom: 0;
    }

    .btn {
        height:100%;
    }